*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

gemfiles/3.0.gemfile.lock
gemfiles/4.0.gemfile.lock
gemfiles/5.0.gemfile.lock
