# -----------------------------------------------------------------------------
# Configuration file for http://travis-ci.org/elasticsearch/elasticsearch-rails
# -----------------------------------------------------------------------------

language: ruby

branches:
  only:
    - master
    - travis

rvm:
  - 1.9.3
  - 2.1.2

jdk:
  - openjdk7

services:
  - mongodb

before_script:
  - ls -la /usr/share/elasticsearch/bin/elasticsearch
  - echo $PWD
  - rake bundle:clean
  - rake bundle:install

script:
  - SERVER=launch TEST_CLUSTER_COMMAND=/usr/share/elasticsearch/bin/elasticsearch TEST_CLUSTER_PARAMS='-Des.default.path.conf=/etc/elasticsearch/' bundle exec rake test:all

notifications:
  disable: true
