.ui-autocomplete {
  font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
  border: none !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
}

.ui-autocomplete-category {
  color: #fff;
  background: #222;
  font-size: 90%;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.ui-autocomplete-item {
  border-bottom: 1px solid #000;
  margin: 0 !important;
  padding: 0 !important;
}

.ui-autocomplete-item:hover,
.ui-autocomplete-item:focus {
  color: #fff !important;
  background: #0b6aff !important;
}

.ui-state-focus,
.ui-state-focus a,
.ui-state-active,
.ui-state-active a,
.ui-autocomplete-item:hover a {
  color: #fff !important;
  background: #0b6aff !important;
  outline: none !important;
  border: none !important;
  border-radius: 0 !important;
}

a.ui-state-focus,
a.ui-state-active {
  margin: 0px !important;
}
