/* Based on https://github.com/plataformatec/simple_form/wiki/CSS-for-simple_form */

body.edit h1,
body.new h1 {
  color: #999;
  font-size: 100%;
  text-transform: uppercase;
  margin: 0 0 1em 5.5em;
}

body.edit a[href^="/artists"],
body.new a[href^="/artists"],
body.edit a[href^="/music/artists"],
body.new a[href^="/music/artists"] {
  color: #222;
  background: #ccc;
  text-decoration: none;
  border-radius: 0.3em;
  padding: 0.25em 0.5em;
  margin: 2em 0 0 5.5em;
  display: inline-block;
}

body.edit a[href^="/artists"]:hover,
body.new a[href^="/artists"]:hover,
body.edit a[href^="/music/artists"]:hover,
body.new a[href^="/music/artists"]:hover {
  color: #fff;
  background: #333;
}

body.edit a[href^="/artists"]:last-child,
body.new a[href^="/artists"]:last-child,
body.edit a[href^="/music/artists"]:last-child,
body.new a[href^="/music/artists"]:last-child {
  margin-left: 0;
}

.simple_form div.input {
  margin-bottom: 1em;
  clear: both;
}

.simple_form label {
  color: #878787;
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 200;
  float: left;
  width: 5em;
  text-align: right;
  margin: 0.25em 1em;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 8.5em;
}

.field_with_errors input {
  border: 2px solid #c70008 !important;
}

.simple_form .error {
  color: #fff !important;
  background: #c70008;
  font-weight: bold;
  clear: left;
  display: block;
  padding: 0.25em 0.5em;
  margin-left: 5.6em;
  width: 27.45em;
}

.simple_form .hint {
  color: #878787;
  font-size: 80%;
  font-style: italic;
  display: block;
  margin: 0.25em 0 0 7em;
  clear: left;
}

input {
  margin: 0;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

input.string,
textarea.text {
  padding: 0.5em;
  min-width: 40em;
  border: 1px solid #ccc;
}

textarea.text {
  min-height: 5em;
}
